.mdc-card {
  h2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: center;

    .mdc-typography--body1 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
